<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
</head>
<body>
    <h1>Financial Data Collection</h1>
    <div>Calculations</div>
    <ul>
        {%for company in data%}
        <li>
            <h2>{{company}}</h2>
            <div>{{ data[company] }}</div>
        </li>
        {%endfor%}
    </ul>

  <ul>
        {%for company in signals%}
        <li>
            <h3>{{company}} (value in billions)</h3>
            <div>DCF: {{ signals[company]['DCF']}}</div>
            <div>Market Capitalization: {{ signals[company]['MARKET_CAP']}}</div>
            <div>Difference between Market Capitalization and DCF: {{ signals[company]['DIFF']}}</div>
            <div>Percentage difference between DCF and Market Capitalization: {{ signals[company]['PERCENTAGE_DIFF'] }}%</div>
        </li>
        {%endfor%}
    </ul>
</body>
</html>