<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if prod %}
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endif %}
<style>
    canvas {
    width: 100% !important;
    height: auto !important;
}
</style>
</head>

<body class="bg-gray-100 p-8">
    <div class="container mx-auto">
        <header class="flex justify-between items-center mb-8"><h1 class="text-3xl font-bold">Summary and analysis of selected stocks based on DCF signal</h1> <a href="../"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 ml-4">Go Back</button></a></header>
<div class="mb-4">
  <p class="font-semibold mb-2">Sentiment:</p>
  <p class="text-gray-600">
    x ≤ -0.35: <span class="text-red-500">Bearish;</span>
    -0.35 &lt; x ≤ -0.15: <span class="text-orange-500">Somewhat-Bearish;</span>
    -0.15 &lt; x &lt; 0.15: <span class="text-gray-500">Neutral;</span>
    0.15 ≤ x &lt; 0.35: <span class="text-green-500">Somewhat_Bullish;</span>
    x ≥ 0.35: <span class="text-green-800">Bullish</span>
  </p>
</div>        {% for company in signals %}
        <div class="flex flex-wrap justify-between mb-12">
            <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                <div id="dcf-data-{{ company }}" class="bg-blue-100 border-solid border-2 border-black rounded p-4 mb-4">
                    <h2 class="text-2xl font-bold mb-4">DCF Analysis for {{ company }} (Value in Billions)</h2>
                    <p class="mb-2"><b>DCF:</b> <span>{{ signals[company]['DCF'] }}</span></p>
                    <p class="mb-2"><b>Market Capitalization:</b> <span>{{ signals[company]['MARKET_CAP'] }}</span></p>
                    <p class="mb-2"><b>Difference between Market Capitalization and DCF:</b> <span>{{ signals[company]['DIFF'] }}</span></p>
                    <p class="mb-2"><b>Percentage difference between DCF and Market Capitalization:</b> <span>{{ signals[company]['PERCENTAGE_DIFF'] }}%</span></p>
                    <p><b>Latest queried price:</b> <span>{{ signals[company]['LATEST_PRICE'] }}</span></p>
                    <p><b>DCF price:</b> <span>{{ signals[company]['DCF_PRICE_PER_SHARE'] }}</span></p>
                    <p><a href="https://finance.yahoo.com/quote/{{ company }}" class="text-blue-500">Link on Yahoo Finance</a></p>
                </div>
                <div class="bg-blue-100 border-solid border-2 border-black rounded p-4 mb-4">
                    <h2 class="text-2xl font-bold mb-4">Additional Data for {{ company }}</h2>
                    <div>
                        {% for overview_data, name in additional_overview_data %}
                            <p class="mb-2"><b>{{ name }}:</b> <span>{{ data[company][overview_data] }}</span></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-2/3 px-4">
                {% if signals[company]['NEWS']|length > 0 %}
                <div class="bg-white shadow-md rounded-lg px-4 py-6 mb-4">
                    <h3 class="text-lg font-semibold mb-4">News <span class="text-gray-600">(overall news sentiment score: {{ signals[company]['SENTIMENT_AVG'] }})</span></h3>
                    <div class="space-y-4">
                        <select onchange="window.open(this.value,'_blank')" class="block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200">
                            <option disabled selected>Select a news article</option>
                            {% for news in signals[company]['NEWS'] %}
                                <option value="{{ news["url"] }}">{{ news['title'] }} - Source {{ news['source'] }} - Sentiment {{ news["ticker_sentiment"][0]["ticker_sentiment_score"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="bg-white shadow-md rounded-lg px-4 py-6 w-full">
                    <canvas class="w-full h-auto" id="macdChart-{{ company }}"></canvas>
                    <script>
                        var ctx{{ company }} = document.getElementById('macdChart-{{ company }}');
                        var macdData{{ company }} = JSON.parse('{{ signals[company]['MACD'] | tojson | safe }}');

                        const dates{{ company }} = Object.keys(macdData{{ company }}).sort((a, b) => new Date(b) - new Date(a));
                        const latestDates{{ company }} = dates{{ company }}.slice(0, 100);
                        const latestData{{ company }} = latestDates{{ company }}.map(date => macdData{{ company }}[date]);
                        const macd{{ company }} = latestData{{ company }}.map(data => data['MACD']);
                        const macdSignal{{ company }} = latestData{{ company }}.map(data => data['MACD_Signal']);

                        new Chart(ctx{{ company }}, {
                            type: 'line',
                            data: {
                                labels: [...latestDates{{ company }}],
                                datasets: [{
                                    label: 'MACD',
                                    data: [...macd{{ company }}],
                                    borderWidth: 1,
                                    pointRadius: 0,
                                }, {
                                    label: 'Signal Line',
                                    data: [...macdSignal{{ company }}],
                                    borderWidth: 1,
                                    pointRadius: 0
                                }, {
                                    label: 'Base Line',
                                    data: [...new Array(macd{{ company }}.length).fill(0)],
                                    borderWidth: 1,
                                    pointRadius: 0
                                }]
                            },
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'MACD Chart for {{ company }}' // Title text
                                    }
                                },
                                                             maintainAspectRatio: false,

                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {% endfor %}
<script>
function goBack() {
  window.history.back();
}
</script>
    </div>
</body>

</html>
