<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-gray-100 p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-8">Financial Summary</h1>
        {% for company in signals %}
            <div id="company-data-and-graph-wrapper" class="flex flex-wrap gap-4">
            <div id="company-data-wrapper w-1/2">

        <div class="max-w-md flex flex-col">
            <h2 class="text-2xl font-bold mb-4">DCF Analysis for {{ company }} (Value in Billions)</h2>
            <p class="mb-4 flex justify-between"><b>DCF:</b> <span class="ml-auto">{{ signals[company]['DCF'] }}</span></p>
            <p class="mb-4 flex justify-between"><b>Market Capitalization:</b> <span>{{ signals[company]['MARKET_CAP'] }}</span></p>
            <p class="mb-4 flex justify-between"><b>Difference between Market Capitalization and DCF:</b> <span>{{ signals[company]['DIFF'] }}</span></p>
            <p class="mb-4 flex justify-between"><b>Percentage difference between DCF and Market Capitalization:</b> <span>{{ signals[company]['PERCENTAGE_DIFF'] }}%</span></p>
            <p class="mb-4 flex justify-between"><b>Latest queried price:</b> <span>{{ signals[company]['LATEST_PRICE'] }}</span></p>
            <p class="mb-4 flex justify-between"><a href="https://finance.yahoo.com/quote/{{ company }}" class="text-blue-500">Link on Yahoo Finance</a></p>
</div>


        <div class="max-w-md flex flex-col">

            <h2 class="text-2xl font-bold mb-4">Additional Data for {{ company }}</h2>
            <div class="mb-4">
                {% for overview_data, name in additional_overview_data %}
                <p class="mb-4 flex justify-between max-w-prose"><b>{{ name }}: </b> <span class="ml-2">{{ data[company][overview_data] }}</span></p>
                {% endfor %}
            </div>
        </div>

            </div>

             <div class="w-1/2 flex justify-center items-center">
                <canvas class="object-cover" id="macdChart-{{ company }}"></canvas>
            </div>
        </div>
            <script>
                var ctx{{ company }} = document.getElementById('macdChart-{{ company }}')
                var macdData = JSON.parse('{{ signals[company]['MACD'] | tojson | safe }}');
                const ctx = document.getElementById('macdChart-{{ company }}');

                const dates = Object.keys(macdData).sort((a, b) => new Date(b) - new Date(a));
                const latestDates = dates.slice(0, 100);
                const latestData = latestDates.map(date => macdData[date])
                const macd = latestData.map(data => data['MACD'])
                const macdSignal = latestData.map(data => data['MACD_Signal'])

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [...latestDates],
                        datasets: [{
                            label: 'MACD',
                            data: [...macd],
                            borderWidth: 1,
                            pointRadius: 0,
                        }, {
                            label: 'Signal Line',
                            data: [...macdSignal],
                            borderWidth: 1,
                            pointRadius: 0
                        }, {
                            label: 'Base Line',
                            data: [...new Array(macd.length).fill(0)],
                            borderWidth: 1,
                            pointRadius: 0
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'MACD Chart for {{ company }}' // Title text
                            }
                        }
                    }
                });
            </script>
        {% endfor %}
    </div>

</body>

</html>
